body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 700px;
    margin: 40px auto;
    background: #c59de6;
    background-image: url('ef6e85d7b45af76890fdfbf668e60f86.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    color: #cebfe0;
    margin-bottom: 30px;
    font-family: 'arial black', sans-serif;
}
.pag {
    background-image:url(Gemini_Generated_Image_jnwmorjnwmorjnwm.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    border-radius: 10px;
}
.pag2 {
    background-image:url("8236033ffb44963dbe1dcc5cad825151.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    border-radius: 10px;
}
h3 {
    color: #faf9ff;
    margin-bottom: 40px;
    font-family: 'arial black', sans-serif;
    position: fixed;
    margin-left: 440px;
    font-size: 30px;

}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-btn {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    border: none;
    background: #a08cac;
    font-size: 16px;
}

.tab-btn.active {
    background: #8a58a7;
    color: white;
}

.tab-content {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.tab-content.active {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background: #621cd3;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.buttonfly {
    padding: 15px;
    background: #9e60e4;
    color: white;
    border: none;
    width: 30%;
    margin-left: 500px;
    cursor: pointer;
    border-top: 75px;
    font-size: 16px;
    border-radius: 60px;
    position: fixed;
    bottom: 150px;
}

.resultado {
    margin-top: 15px;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    min-height: 40px;
}

.logout-link {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #332e36;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    float: right; 
    margin-right: 20px; 
}
.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.search-container input {
    margin: 0;
    flex: 1;
}

.search-container button {
    width: auto;
    padding: 10px 20px;
}

.anime-list {
    margin-top: 20px;
}

.client-card {
    background: #f1d4ff;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 6px;
    border-left: 5px solid #5d08ce;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.client-card h3 {
    margin: 0 0 8px 0;
    color: #333;
    font-size: 1.1rem;
}

.client-card p {
    margin: 4px 0;
    font-size: 0.95rem;
    color: #2e2c30;
}

.client-card strong {
    color: #484153;
}

.no-clients {
    text-align: center;
    color: #b09db6;
    padding: 20px;
    font-style: italic;
}